body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background: rgb(118,117,139);
    background: linear-gradient(90deg, rgba(118,117,139,1) 4%, rgba(78,78,87,1) 100%, rgba(0,212,255,1) 100%);
    padding: 1px;
    box-shadow: 0 2.5px 12px 2px gray;
}   

header > h2{
    margin-left: 3em;
}

#mainDiv{
    display: flex;
    justify-content: center;
    margin: 40px;
}

#buttonGetLoan{
    background-color: lightgreen;
    border-radius: 4px;
    border-color: whitesmoke;
    border-width: 0.1px;
    font-size: 17px;
    padding: 7px;
    margin-top: 30px;
}

#buttonGetLoan:hover{
    background-color: rgb(91, 203, 91);
}

#bankButton{
    border-radius: 4px;
    border-color: whitesmoke;
    border-width: 0.1px;
    padding: 7px;
    font-size: 17px;
    background-color: rgb(234, 234, 136);
    margin-top: 30px;
}

#bankButton:hover{
    background-color: rgb(239, 239, 84);
}

#repayLoanButton{
    border-radius: 4px;
    border-color: whitesmoke;
    border-width: 0.1px;
    padding: 7px;
    font-size: 17px;
    margin-top: 10px;
    background-color: rgb(241, 157, 157);
}

#repayLoanButton:hover{
    background-color: rgb(239, 118, 118) ;
}

#workButton{
    border-radius: 4px;
    border-color: whitesmoke;
    border-width: 0.1px;
    padding: 7px;
    margin-left: 2px;
    font-size: 17px;
    background-color: lightblue;
}

#workButton:hover{
    background-color: rgb(62, 184, 225);
}

#personDiv{
    background-color: whitesmoke;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    height: 13em;
    width: 21%;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 12px 1px lightgrey;
}

#workDiv{
    border-radius: 8px;
    background-color: whitesmoke;
    margin-right: 50px;
    height: 13em;
    width: 21%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 12px 1px lightgrey;
}

#laptopsDiv{
    border-radius: 8px;
    background-color: whitesmoke;
    height: 13em;
    width: 21%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 12px 1px lightgrey;
}

#laptops{
    font-size: 15px;
    border-radius: 2px;
    padding: 5px;
}

#laptopsDiv > #features{
    font-size: 13px;
}

#laptopDiv{
    margin-left: 10em;
    width: 40%;
}

#buyNowPriceDiv{
    margin-right: 10em;
}

#buyNowButton{
    padding: 5px;
    margin-top: 10px;
}

#buyDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: whitesmoke;
    align-items: center;
    margin-left: 11.3em;
    margin-right: 11.3em;
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px 1px lightgrey;
}

#buyNowPrice{
    display: block;
    flex-direction: column;
}

#buyNowButton{
    width: 100%;
}

#computerImage{
    height: 120px;
}


